*{
    margin:20px;
    padding: 0;
    box-sizing: border-box;
}
h1{
  color: #2D8080;
  font: arial;
  font-weight: 200;
  text-decoration: wavy;
}


#caja{
  display: none;
  background: black;
  color: white;
  width: 500px;
  height: 200px;
}

button{
  background: red;
  color: white;
}

aside{
    background-color: tomato;
    width: 800px;
    color: wheat;
    font-size: 20px;
    margin-top: 60px;
}
section{
    display: flex;
    margin-top:25px;    
}
h2{
    font-weight: 900;
    position: absolute;
}
section > p {
    background-color: teal;
    margin-top: 60px;
}

