*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  color: #2D8080;
  font: arial;
  font-weight: 200;
  text-decoration: wavy;
}

#caja{
  display: none;
  background: black;
  color: white;
  width: 500px;
  height: 200px;
}

button{
  background: red;
  color: white;
}
